.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: white;
    transition: 
        transform 0.1s ease,
        opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.cursor-bg {
    width: 30px;
    height: 30px;
    background-color: white;
    transition: 
        width 0.3s ease, 
        height 0.3s ease,
        opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.cursor-dot,
.cursor-bg {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0;
    will-change: transform, opacity;
}